*~
*.bz2
*.o
*.lo
*.la
*.dirstamp
ABOUT-NLS
ChangeLog
ltmain.sh
mkinstalldirs
depcomp
*.gmo
Makefile.in.in
configure.in
libtool
configure
configure.ca
Makefile
Makefile.in
*.desktop
xfce4-mixer/xfce4-mixer
config.*
stamp-h1
POTFILES
aclocal.m4
m4/
po/Makevars.template
po/Rules-quot
po/boldquot.sed
po/en@boldquot.header
po/en@quot.header
po/insert-header.sin
po/quot.sed
po/remove-potcdate.sed
po/remove-potcdate.sin
po/stamp-po
po/xfce4-mixer.pot
*.swp
.deps
.libs
missing
install-sh
compile
autom4te*
.vimprj
cscope.files
cscope.out
tags
xfce4-mixer/xfce4-mixer
panel-plugin/mixer.desktop
