[Desktop Entry]
Encoding=UTF-8
Name=Xfce 4 Mixer Settings
Name[et]=Xfce 4 helitugevuse seaded
Name[fi]=Xfce 4 Mikserin asetukset
Name[fr]=Paramètres du mixer de Xfce 4
Name[he]=הגדרות מערבל Xfce 4
Name[ko]=Xfce 4 믹서 설정
Name[lt]=Xfce 4 garsų maišiklio nustatymai
Name[nl]=Instellingen Xfce 4 Volumeregelaar
Name[ro]=Xfce 4 setări mixer
Name[ru]=Настройки микшера Xfce 4
Name[zh_CN]=Xfce 4 混频器设置
Name[zh_TW]=Xfce 4 音量控制器設定
Name[eu]=Xfce 4 Nahasle Ezarpenak
Name[hu]=Xfce 4 mixer beállítások
Comment=Mixer Settings
Comment[et]=Helitugevuse seaded
Comment[fi]=Mikserin asetukset
Comment[fr]=Paramétrage du mixer
Comment[he]=הגדרות מערבל
Comment[ko]=믹서 설정
Comment[lt]=Garsų maišiklio nustatymai
Comment[nl]=Instellingen voor volume
Comment[ro]=Setări ale mixerului plăcii de sunet
Comment[ru]=Настройки микшера
Comment[zh_CN]=设置混频器
Comment[zh_TW]=設定音量控制器
Comment[eu]=Nahasle Ezarpenak
Comment[hu]=Mixer beállítások
Exec=xfce-setting-show sound
Icon=xfce4-mixer
Terminal=false
Type=Application
Categories=X-XFCE;Settings;DesktopSettings;
OnlyShowIn=XFCE;
GenericName=Mixer Settings
GenericName[et]=Helitugevuse seaded
GenericName[fi]=Mikserin asetukset
GenericName[ko]=믹서 설정
GenericName[lt]=Garsų maišiklio nustatymai
GenericName[nl]=Instellingen Volumeregelaar
GenericName[ro]=Setări mixer
GenericName[ru]=Настройки микшера
GenericName[zh_CN]=设置混频器
GenericName[eu]=Nahasle Ezarpenak
GenericName[hu]=Mixer beállítások
